<mat-card class="hero-card">
  <mat-card-header>
    <mat-card-title>{{ heroe?.nombre }}</mat-card-title>
    <mat-card-subtitle>Poder: {{ heroe?.poder }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Edad:</strong> {{ heroe?.edad }}</p>
    <p><strong>Planeta de Origen:</strong> {{ heroe?.planetaOrigen }}</p>
    <p><strong>Archienemigo:</strong> {{ heroe?.archienemigo }}</p>
    <p><strong>Estatura:</strong> {{ heroe?.estatura }}</p>
    <p><strong>Punto Débil:</strong> {{ heroe?.puntoDebil }}</p>
    <p><strong>Origen de los Poderes:</strong> {{ heroe?.origenPoderes }}</p>
  </mat-card-content>
</mat-card>

<button mat-raised-button color="primary" routerLink="/heroes">
  Volver a la lista de héroes
</button>
